<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль {{account[2] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/questions.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/answer.css') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', path='imgs/favicon.png') }}">
    <script type="module" src="{{ url_for('static', path='js/profile.js') }}" defer></script>
</head>
<body>
    <div class="header">
        <header class="header-inner container">
            <a class="header-logo" href="/">
                <img src="{{ url_for('static', path='imgs/logo.png') }}" width="60" height="60" alt="Логотип">
            </a>
            <div class="search">
                <input type="text" id="search" class="input search-input" placeholder="Может вопрос уже задан?">
            </div>
            
            <div class="header-actions">
                {% if username %}
                    <a href="/profile/{{ username }}" class="link header-nickname">{{ name }}</a>
                    <button id="create" class="header-actions-create btn">Создать вопрос</button>
                {% else %}
                    <a href="/users/login" class="link">Войти</a>
                {% endif %}
            </div>
            <ul class="search-result-list" id="searchList">
            </ul>
        </header>
    </div>
    <main>
        <section class="profile-container container">
            <a href="javascript:void(0);" onclick="history.back();" class="arrow-back-answer">
                <img src="{{ url_for('static', path='imgs/arrow.svg') }}" alt="Назад">
            </a>
            <div class="question">
                <div class="profile-name">{{ account[1] }} ({{ account[2] }})</div>
                <div class="profile-additional">ID: {{ account[0] }}</div>
                <div class="profile-additional" style="color: {{ account[4] }}">{{ account[3] }}</div>

                {% if username == account[2] and (account[5] or account[0] == 1)%}
                <a class="link admin-link" href="/admin/panel">Перейти в админ-панель</a>
                {% endif %}
                {% if username == account[2] %}
                <a class="link logout-link" href="/users/logout">Выйти из аккаунта</a>
                {% endif %}
                {% if id == "1" or admin or username == account[2] %}
                <a class="link delete-link" id="deleteProfile">Удалить аккаунт</a>
                {% endif %}
            </div>
            <div class="profile">
                <h1 class="answers-title">Вопросы пользователя</h1>
                <div class="profile-question" id="profileQuestionsContainer" data-username="{{ account[2] }}">
                    {{ questions }}
                </div>
            </div>
        </section>
        <div class="overlay" id="overlayCreate">
            <section class="create">
                <button class="create-close-btn" id="close">
                    <img src="{{ url_for('static', path='imgs/close.svg') }}" alt="Закрыть">
                </button>
                <form action="/doadd" method="post" class="create-form" enctype="multipart/form-data" id="formCreateQuestion">
                    <div class="create-form-text">
                        <label for="questionText">Какой у вас вопрос?</label>
                        <textarea class="form-text-textarea" name="description" id="questionText" minlength="0" maxlength="10000" required></textarea>
                    </div>
                    <div class="create-form-section">
                        <select class="item-filter" name="subject">
                            <option value="Математика" selected>Математика</option>
                            <option value="Русский язык">Русский язык</option>
                            <option value="Литература">Литература</option>
                            <option value="Английский язык">Английский язык</option>
                            <option value="Немецкий язык">Немецкий язык</option>
                            <option value="Французский язык">Французский язык</option>
                            <option value="Биология">Биология</option>
                            <option value="Химия">Химия</option>
                            <option value="Физика">Физика</option>
                            <option value="География">География</option>
                            <option value="История">История</option>
                            <option value="Обществознание">Обществознание</option>
                            <option value="Информатика">Информатика</option>
                            <option value="Музыка">Музыка</option>
                            <option value="ИЗО">ИЗО</option>
                            <option value="Физическая культура">Физическая культура</option>
                        </select>

                        <select class="item-filter" name="grade">
                            <option value="1" selected>1 класс</option>
                            <option value="2">2 класс</option>
                            <option value="3">3 класс</option>
                            <option value="4">4 класс</option>
                            <option value="5">5 класс</option>
                            <option value="6">6 класс</option>
                            <option value="7">7 класс</option>
                            <option value="8">8 класс</option>
                            <option value="9">9 класс</option>
                            <option value="10">10 класс</option>
                            <option value="11">11 класс</option>
                        </select>
                    </div>
                    <div class="upload-container">
                        <label class="upload-label" for="imageInputCreateQuestion">
                            <img src="{{ url_for('static', path='imgs/clip.svg') }}" alt="Прикрепить файл">
                            Прикрепить изображения
                        </label>
                        <input class="visually-hidden" type="file" id="imageInputCreateQuestion" name="images" accept="image/*" multiple>

                        <ul class="preview-list" id="previewListCreateQuestion"></ul>
                    </div>
                    <button type="submit" class="btn">Создать вопрос</button>
                </form>
            </section>
        </div>
        {% if username == account[2] or id == "1" or admin %}
        <div class="overlay" id="overlaySureProfileDelete">
            <section class="sure-delete">
                <button class="create-close-btn" id="sureCloseDeleteProfileBtn">
                    <img src="{{ url_for('static', path='imgs/close.svg') }}" alt="Закрыть">
                </button>
                <div class="sure-delete-title">Вы уверены что хотите удалить аккаунт?</div>
                <div class="sure-delete-btns">
                    <form action="/users/delete_account" method="post">
                        <input id="deleteAccountId" type="hidden" name="id" value="{{ account[0] }}">
                        <button type="submit" class="btn delete-sure">
                            Удалить
                        </button>
                    </form>
                    <button type="submit" class="btn" id="sureCancelProfileDeleteBtn">
                        Отменить
                    </button>
                </div>
            </section>
        </div>
        {% endif %}
    </main>
</body>
</html>
