.content-error {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-light);
    text-align: center;
    font-size: clamp(23px, 1.9vw, 28px);
    padding-inline: var(--container-padding-x);
}


